<header class="container">
  <nav class="site-nav">
    <a href="./git.html">Git</a><a href="./flex-layout.html">Flex layout</a
    ><a href="./grid-layout.html">Grid layout</a
    ><a href="./animation.html">Animated square</a>
  </nav>
</header>
<main class="home-main">
  <div class="text-box">
    <p class="home-text-icon">👆</p>
    <p class="home-text">Choose link to followed on completed exercises</p>
    <p class="home-text">JS logs in this page</p>
    <p class="home-text-icon">👇</p>
  </div>
  <div class="img-box">
    <img
      class="home-img"
      src="./src/image/my-photo.webp"
      alt="on photo my self"
      width="300"
      height="300"
    />
    <p>My name is Artem Kozlov</p>
  </div>

  <h1 class="home-title">
    Hello DevIT!
    <p class="title-icon">👋</p>
  </h1>
</main>
<footer></footer>
