.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: var(--link-bg-color);
  color: var(--default-text-color);
  border-radius: 10px;
  opacity: 1;
  transition: background-color 250ms linear, color 250ms linear;
  &:hover {
    color: var(--link-bg-color);
    background-color: var(--second-bg-color);
  }
}
