.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  a {
    padding: 10px 20px;
    background-color: var(--link-bg-color);
    border-radius: 10px;
  }
}
